:root {
  font-family: Work Sans; 
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.25rem;
  letter-spacing: 0.025rem; 

  color: #3A00E5;
  background-color: #D9D9D9;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  font-variant-numeric: tabular-nums;
  user-select: none;
}

body 
{ 
  height: 100vh; 
  width: 100vw;
  display: grid;
  grid-template-columns: 28rem 1fr;
  grid-template-rows: 10rem 1fr 5rem 15rem;
  margin: 0; 
  padding: 0 ;
}

#head
{
  grid-column: 1;
  grid-row: 1;
}

#tree
{
  grid-column: 1;
  grid-row: 2 / 5;
  overflow: hidden;
  overflow-y: scroll;
}

li:hover
{
  background-color: #ffffff;
  cursor: pointer;
}

#tree li
{
  display: flex;
  gap: 0.25rem; 
  padding: 0.3rem 0 0.3rem 1.5rem;
}

#tree li img
{
  width: 1.2rem;
  height: 1.25rem;
  margin-left: 0.5rem;
}

#selected
{
  background-color: #3A00E5;
  color: #ffffff;
}

#selected img
{
  filter: brightness(0) invert(1);
}

#map
{
  grid-column: 2;
  grid-row: 1 / 4;
  z-index: 1;
}

#data
{
  grid-column: 2;
  grid-row: 3 / 5;
  background-color: white;
  display: grid;
  opacity: 0.6;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 5rem 1fr;
  z-index: 2;
}

#chart
{
  grid-column: 1 / 5;
  grid-row: 2;
  display: flex;
}

