:root {
  font-family: Work Sans; 
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.25rem;
  letter-spacing: 0.025rem; 

  color: #3A00E5;
  background-color: #D9D9D9;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  font-variant-numeric: tabular-nums;
  user-select: none;
}

body 
{ 
  height: 100vh; 
  width: 100vw;
  display: grid;
  grid-template-columns: 30rem 1fr;
  grid-template-rows: 10rem 1fr 15rem;
  margin: 0; 
  padding: 0 ;
}

#head
{
  grid-column: 1;
  grid-row: 1;
  display: flex;
  /* background-color: #3A00E5; */
}

#list
{
  grid-column: 1;
  grid-row: 2 / 4;
  overflow: hidden;
  overflow-y: scroll;
}

#list li div
{
  display: flex;
  height: 1.25rem;
  cursor: pointer;
}

#list li
{
  display: block;
  padding: 0.25rem 0rem;
}

#list ul
{
  padding: 0 1rem;
}

#map{
  grid-column: 2;
  grid-row: 1 / 4;
  z-index: 1;
}

#data
{
  background-color: #ffffffa0;
  grid-column: 2;
  grid-row: 3;
  z-index: 2;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 5rem 1fr;
}

#chart
{
  display: flex;
  grid-column: 1 / 5;
  grid-row: 2;
}

#svg
{
  width: 100%;
}

.close ul {
  display: none;
}

.flight:hover
{
  background-color: #ffffff;
  cursor: pointer;
}

.icon
{
  width: 1.2rem;
  height: 1.25rem;
  margin: 0rem 0.5rem;
}

#selected
{
  background-color: #3A00E5;
  color: #ffffff;
}

#selected img
{
  filter: brightness(0) invert(1);
}

.arrow{
  transition: all 0.3s ease;
}

.close .arrow
{
  transition: all 0.3s ease;
  transform: rotate(180deg);
}

/*#head
{
  grid-column: 1;
  grid-row: 1;
}

#tree
{
  grid-column: 1;
  grid-row: 2 / 5;
  overflow: hidden;
  overflow-y: scroll;
}

li:hover
{
  background-color: #ffffff;
  cursor: pointer;
}

.year
{
  font-size: 1.25rem;
  font-weight: bolder;
}

.month
{
  font-size: 1rem;
  font-weight: 500;
  margin: 0;
  padding: 0 1rem;
}

.year div
{
  display: flex;
}

ul img
{
  width: 1.5rem;
  height: 1.5rem;
}

.year.close ul
{
  display: none;
}

ul div img{
  transition: all 0.3s ease;
}

.close div img
{
  transition: all 0.3s ease;
  transform: rotate(180deg);
}

.month.close li
{
  display: none;
}

.month li
{
  display: flex;
  gap: 0.25rem; 
  padding: 0.3rem 0 0.3rem 1.5rem;
  font-size: 1rem;
  font-weight: 500;
}

.month div:hover
{
  cursor: pointer;
}
.year div:hover
{
  cursor: pointer;
}

#tree li img
{
  width: 1.2rem;
  height: 1.25rem;
  margin-left: 0.5rem;
}

#selected
{
  background-color: #3A00E5;
  color: #ffffff;
}

#selected img
{
  filter: brightness(0) invert(1);
}

#map
{
  grid-column: 2;
  grid-row: 1 / 4;
  z-index: 1;
}

#data
{
  grid-column: 2;
  grid-row: 3 / 5;
  background-color: white;
  display: grid;
  opacity: 0.6;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 5rem 1fr;
  z-index: 2;
}

#chart
{
  grid-column: 1 / 5;
  grid-row: 2;
  display: flex;
} */

